html{
    width:100%;
    font-size:16px;
    font-family: sans-serif;
}

section{
    width: 90%;
    margin: 0 auto;
}

#nav{
    background-color:antiquewhite;
}

#startscreen{
    background-color:burlywood;
}

#best-practices{
    background-color:khaki;
}

nav{
    text-align:left;
    padding:0;
}

ul{
    list-style: none;
    padding-left:0;
}

li{
    display:inline;
    padding: 0.5em;
}

.inactive{
    display:none;
}